<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <contextName>lqzj</contextName>
    <property name="LOGGER_HOME" value="logs/lqzj"/>
    <property name="LOGGER_NAME" value="lqzj" />
    <property name="ROOT_LEVEL" value="INFO" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread]:[%-5level] [%logger{0}][%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGER_HOME}/info/${LOGGER_NAME}-info.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOGGER_HOME}/info/${LOGGER_NAME}-info.log.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread]:[%-5level] [%logger{0}][%L] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_ERROR"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGER_HOME}/error/${LOGGER_NAME}-error.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOGGER_HOME}/error/${LOGGER_NAME}-error.log.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread]:[%-5level] [%logger{0}][%L] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </root>

    <logger name="com.lqzj.web" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </logger>

    <logger name="org.mybatis" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </logger>

    <logger name="org.apache.ibatis">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="java.sql">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>